.title {
    width: 100vw;
    text-align: center;
    font-size: 5em;
}

body {
    background-image: url('images/wov.png');
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    overflow-x: hidden;
    font-family: 'Yatra One', cursive;
}

.root-editors-container {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    padding-left: 0.5%;
    padding-right: 0.5%;
}

.root-editors-container>.editor {
    box-sizing: border-box;
    width: 800px;
    max-height: 600px;
    height: 600px;
    /* padding: 0; */
    /* margin: 2px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(125, 125, 125, .2);
}

.gutter {
    background-color: rgb(0, 112, 103);
    background-repeat: no-repeat;
    max-height: 600px;
    height: 600px;
    /* margin-left: 2px;
    margin-right: 2px; */
    /* padding-left: 2px;
    padding-right: 2px; */
    /* height: 100%; */
    /* width: 5px; */
    background-position: 50%;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}
